*.7z
*.suo
.vs/
LogAnalyzer.Analyzers/bin/
*.log
LogAnalyzer.Analyzers/obj/
*.user
LogAnalyzer.Infrastructure/bin/
LogAnalyzer.Infrastructure/obj/
LogAnalyzer.Tests/bin/
LogAnalyzer.Tests/obj/
LogAnalyzer.UI.WinForms/bin/
LogAnalyzer.UI.WinForms/obj/
packages/
*.xml
Logfile1.txt
v3.rezobxplus.webservices/
LogsAnalyzer.Infrastructure/obj/
LogsAnalyzer.Tests/obj/
LogsAnalyzer.UI.WinForms/obj/
LogsAnalyzer.Analyzers/obj/
LogsAnalyzer.Analyzers/bin/Debug/LogAnalyzer.Analyzers.dll
LogsAnalyzer.Analyzers/bin/
LogsAnalyzer.Infrastructure/bin/
LogsAnalyzer.UI.WinForms/bin/
LogsAnalyzer.Tests/bin/
LogsAnalyzer.Renderers.WinForms/bin/
LogsAnalyzer.Renderers.WinForms/obj/
