<?xml version="1.0" encoding="utf-8" ?>
<logAnalyzer>
  <analyzers>
    <analyzer>
      <typeName>LogAnalyzer.Analyzers, LogAnalyzer.Analyzers.Bookings.BookingAnalyzer</typeName>
      <displayName>Booking Analyzer</displayName>
    </analyzer>
    <analyzer>
      <typeName>LogAnalyzer.Analyzers, LogAnalyzer.Analyzers.Errors.ErrorsAnalyzer</typeName>
      <displayName>Errors Analyzer</displayName>
    </analyzer>
  </analyzers>
  <analyzerChains>
    <analyzerChain name="Errors" displayName="Error Analyzers">
      <analyzer>
        <typeName>LogAnalyzer.Analyzers, LogAnalyzer.Analyzers.Errors.UnhandledErrors.UnhandledErrorsAnalyzer</typeName>
        <displayName>Unhandled Error Analyzer</displayName>
      </analyzer>
    </analyzerChain>
  </analyzerChains>
</logAnalyzer>