<?xml version="1.0" encoding="utf-8" ?>
<logAnalyzer>
  <analyzers>
    <analyzer>
      <typeName>LogAnalyzer.Analyzers, LogAnalyzer.Analyzers.Bookings.BookingAnalyzer</typeName>
      <displayName>Booking Analyzer</displayName>
    </analyzer>
  </analyzers>
  <analyzerShortCircuitChains>
    <analyzerShortCircuitChain name="Errors" displayName="Error Analyzers Chain">
      <analyzer>
        <typeName>LogAnalyzer.Analyzers, LogAnalyzer.Analyzers.Errors.Database.UnreachableServerErrorAnalyzer</typeName>
        <displayName>Unreachable Database Server Error Analyzer</displayName>
      </analyzer>
      <analyzer>
        <typeName>LogAnalyzer.Analyzers, LogAnalyzer.Analyzers.Errors.Database.OutOfConnectionsErrorAnalyzer</typeName>
        <displayName>No Connections Available Error Analyzer</displayName>
      </analyzer>
      <analyzer>
        <typeName>LogAnalyzer.Analyzers, LogAnalyzer.Analyzers.Errors.Smtp.SmtpErrorAnalyzer</typeName>
        <displayName>Smtp Error Analyzer</displayName>
      </analyzer>
      <analyzer>
        <typeName>LogAnalyzer.Analyzers, LogAnalyzer.Analyzers.Errors.Database.ModelBackingChangedErrorAnalyzer</typeName>
        <displayName>Model-Backing-Changed Error Analyzer</displayName>
      </analyzer>
      <analyzer>
        <typeName>LogAnalyzer.Analyzers, LogAnalyzer.Analyzers.Errors.UnhandledErrors.UnhandledErrorsAnalyzer</typeName>
        <displayName>Unhandled Error Analyzer</displayName>
      </analyzer>
    </analyzerShortCircuitChain>
  </analyzerShortCircuitChains>
</logAnalyzer>